body {
    background-color: cyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    text-transform: uppercase;
}

ul {
    font-size: 20px;
}

.magenta-bkg {
    background-color: magenta;
}

.cyan-bkg {
    background-color: cyan;
}

.yellow-bkg {
    background-color: yellow;
}

.bold {
    font-weight: bolder;
}